<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/navBar.css">
    <link rel="stylesheet" href="/stylesheets/allUsers.css">
</head>
<%- include("./includes/navBar")%>

    <body>
        <h3 class="heading">Do you know ?</h3>
    </body>

</html>